{% extends 'userarea/main.html' %} {% load static %} {% block content %} {% include 'userarea/header.html' %}

<div class="justify-content-md-center mt-3">
  <h3 class="text-center">Access Your Deliverables Anytime</h3>
  <hr />

  <div class="container bg-gray p-5" id="print">
    {% if deliverables %} {% for deliverable in deliverables %}
    <div class="row mt-3">
      <div class="col">
        <p><b>Date:</b> {{ deliverable.title }}</p>
      </div>
      <div class="col">
        <p><b>For:</b> {{ deliverable.date_created}}</p>
      </div>
      <div class="col">
        <a href="{{ deliverable.url }}" class="btn btn-primary">Details</a>
      </div>
      <div class="col">
        {% if deliverable.read %}
        <p class="text-success"><i class="fa fa-check"></i> Accepted</p>
        {% else %}
        <a
          href="{% url 'mark-deliverable-as-read' deliverable.id %}"
          class="text-danger"
          ><i class="fa fa-times-circle"></i> Accept</a
        >
        {% endif %}
      </div>
    </div>
    <hr />
    <br />
    {% endfor %} {% else %}
    <p>
      Your deliverables will go here once you have completed your first project.
    </p>
    {% endif %}
  </div>

  {% endblock content %}
</div>
