 
  {% extends 'userarea/main.html' %}
  {% load static %}
  {% block content %}

 

{% if created %}
  <script>
    permission = Push.Permission.has()
    
    if (permission) {
        Push.create("Your password was updated. Nice!",{
        body: "Keep it nice and secure!",
        icon: '{% static "website/img/user.png" %}',
        timeout: 4000,
        onClick: function () {
            window.focus();
            this.close();
        }
    });
    } else {
        window.alert('Your password was updated. Nice!')
    }

    Push.create("Your password was updated. Nice!",{
        body: "Keep it nice and secure!",
        icon: '{% static "website/img/user.png" %}',
        timeout: 4000,
        onClick: function () {
            window.focus();
            this.close();
        }
    });

        </script>
{% endif %}
  
  {% include 'user/header.html' %}
   
  <div class="justify-content-md-center mt-3">
      {% if website_info %}
      <h3 class="text-center">Your Business Info</h3>
      <hr>
          {% for info in website_info %}
             <b>Info for:</b> <a href="{{ info.get_absolute_url }}">{{ info.business_name }}</a>
             <hr>
          {% endfor %}
      {% else %}
          <a href="{% url 'submit-info' %}" class="btn btn-primary btn-lg mt-5"><i class="fa fa-pencil"></i> Submit Your Business Information</a>
      {% endif %}
  
  
  </div>
  </div>
  
  {% endblock content %}