{% extends 'userarea/main.html' %} {% block content %} {% load static %}
{% include 'userarea/header.html' %}

<div class="justify-content-md-center mt-3">
  <h3 class="text-center">Your Profile</h3>
  <hr />

  <div class="row">
    <div class="col-lg-6">
      <div class="box-element form-group center-form" id="form-wrapper">
        <form method="POST">
          {% csrf_token %} {{ form.as_p }}
          <button class="btn btn-primary">Update Profile</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
