{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Hero Section-->
    <section id="blogHero" class="hero">
      <div class="container" data-aos="zoom-in" data-aos-delay="200">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a class="icon-yellow" href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active">Blog</li>
        </ul>
        <h1 style="text-shadow: 2px 2px #000;">Intrepid Marketing Blog</h1>
        <p class="text-hero" 
        style="background-color: #f6b725;
        color:#000;
        font-weight:400;
        width:62%;
        padding:.75%;
        padding-left:2%;">
        You'll feel relieved when you learn how <b>easy</b> marketing can be.</p>
      </div>
    </section>
    <div class="container" data-aos="fade-up">
      <div class="row">
        <main class="col-lg-8">
          <!-- Blog Post-->
          {% for post in posts %}
            <div class="blog-post" data-aos="zoom-in" data-aos-delay="100">
              <div class="post-header"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid post-thumbnail">
                <div class="content">
                  <div class="badge badge-rounded text-uppercase">{{ post.category.title }}</div>
                  <!-- <a href="#">
                     <div class="author d-flex align-items-center">
                      <div class="image"><img src="img/avatar.jpg" alt="..." class="img-fluid rounded-circle"></div>
                      <div class="name"><span class="text-uppercase">Article By</span><strong>Adam Shawky</strong></div>
                    </div>  
                  </a> -->
                </div>
              </div>
              <div class="post-content"><a href="#">
                  <h3>{{ post.title }}</h3></a>
                <div class="post-meta">{{ post.timestamp }}</div>
                <p class="text-muted">{{ post.overview|truncatechars:"180" }}</p><a href="{% url 'post-detail' post.pk %}" class="has-lines read-more">Read More</a>
              </div>
            </div>
          {% endfor %}
          <!-- Pagination -->
          <!-- <nav aria-label="Page navigation example">
            <ul class="pagination pagination-template d-flex justify-content-center">
              <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
              <li class="page-item"><a href="#" class="page-link active">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav> -->
        </main>
        <aside class="col-lg-4">
          {% include 'blog-search.html' %}
          <!-- Widget [Latest Posts Widget] -->
          <div class="widget latest-posts">
            <header>
              <h3 class="has-lines"><small>Latest Posts</small>Recent Posts</h3>
            </header>
            <div class="blog-posts">
                {% for post in most_recent %}
                <a href="{% url 'post-detail' post.pk %}">
                <div class="post d-flex align-items-center">
                  <div class="image"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid rounded-circle"></div>
                  <div class="title"><strong>{{ post.title }}</strong><span class="date">{{ post.timestamp }}</span></div>
                </div>
                </a>
                <a href="{% url 'post-detail' post.pk %}">
                {% endfor %}
                
            </div>
          </div>
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="has-lines"><small>Categories</small>Blog Post Categories</h3>
            </header>
            {% for cat in categories %}
                <div class="category justify-content-between">
                  <a href="{% url 'post-category-detail' cat.pk %}">{{ cat.title }}</a>
                </div>
            {% endfor %}
          </div>

          {% include 'audit.html' %}
          <!-- Widget [Tags Cloud Widget]-->
          <!-- <div class="widget tags">       
            <header>
              <h3 class="has-lines"><small>Tags</small>Tags Cloud</h3>
            </header>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="tag">Tag 1</a></li>
              <li class="list-inline-item"><a href="#" class="tag">Tag 2</a></li>
              <li class="list-inline-item"><a href="#" class="tag">Tag 3</a></li>
              <li class="list-inline-item"><a href="#" class="tag">Tag 4</a></li>
              <li class="list-inline-item"><a href="#" class="tag">Tag 5</a></li>
              <li class="list-inline-item"><a href="#" class="tag">Tag 6</a></li>
            </ul>
          </div> -->
        </aside>
      </div>
    </div>

    
    {% endblock content %}
