<div class="search-bar">
  <form action="{% url 'location-search' %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="form-group col-lg-5">
        <select name="catid" title="What" class="listing-categories" required>
          {% for category in nav_categories %}
          <option value="{{category.id}}">{{ category.title }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-lg-5">
        <!-- <input type="text" id="query" placeholder="Where" id="location">
          <label for="location" class="location"><i onclick="lookupLocation();" class="fa fa-dot-circle-o"></i></label> -->
        <select
          name="location"
          title="Where"
          class="listing-categories"
          required
        >
          {% for location in nav_locations %}
          <option value="{{location.id}}">{{ location.state }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-lg-2">
        <input type="submit" value="Search" class="submit" />
      </div>
    </div>
  </form>
</div>
